<!--The content below is only a placeholder and can be replaced.-->
<div class="footer-nav">
  <div class="span" routerLinkActive="active" routerLink="/home">
    <p class="home_nav">
    </p>
    <p class="bottom">
      <span class="titleName">首页</span>
    </p>
  </div>
  <div class="span" routerLinkActive="active" routerLink="/order">
    <p class="home_nav">
    </p>
    <p class="bottom">
      <span class="titleName">订单</span>
    </p>
  </div>
  <div class="span" routerLinkActive="active" routerLink="/passcode">
    <p class="home_nav">
    </p>
    <p class="bottom">
      <span class="titleName">通行码</span>
    </p>
  </div>
  <div class="span" routerLinkActive="active" routerLink="/mine">
    <p class="home_nav">
    </p>
    <p class="bottom">
      <span class="titleName">我的</span>
    </p>
  </div>
</div>

<router-outlet></router-outlet>
<!-- <app-mine></app-mine> -->
