<div class="yourSelf">
  <!-- 快递信息 -->
  <div class="infoMsg">
    <div class="listImg">
      <img src="../../assets/images/圆通.png" alt="">
      <!-- <CompanyImg :name="yourSelfInfo.Company"></CompanyImg> -->
    </div>
    <div class="listInfo">
      <p>单号：</p>
      <p>{{yourSelfInfo.Number}}</p>
    </div>
  </div>
  <div class="lineHeight"></div>
  <div class="mapBox">
    <h3>取件人信息</h3>
    <div class="peopleInfo">
      <p>姓名：
        <span>{{yourSelfInfo.DeliveryUser}}</span>
      </p>
      <p>手机号：
        <span>{{yourSelfInfo.DeliveryPhone}}</span>
      </p>
    </div>
    <div class="mapImg" (click)="lookMap()">
      <!-- <Canvas :num="numBox"></Canvas> -->
      <p style="text-align:center;color:#3470cb">点击放大查看并长按保存图片</p>
    </div>
  </div>
  <!-- <div class="footer">
    <div class="lineHeight"></div>确定</div> -->
  <div class="kongbox" v-if="isShow"></div>
  <div class="canvasImg">
  </div>
</div>
